{{- if eq .chezmoi.os "linux" }}
source /usr/share/zsh/scripts/zplug/init.zsh
{{- else if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/zplug/init.zsh
{{- end }}

zplug 'zplug/zplug', hook-build:'zplug --self-manage'

zplug "Aloxaf/fzf-tab"
zplug 'zsh-users/zsh-syntax-highlighting', defer:2
zplug 'zsh-users/zsh-history-substring-search', defer:3
zplug 'zsh-users/zsh-autosuggestions' 
zplug 'zsh-users/zsh-completions', depth:1

zplug "ohmyzsh/ohmyzsh", use:"lib/key-bindings.zsh"
zplug "ohmyzsh/ohmyzsh", use:"lib/directories.zsh"

zplug 'Valiev/almostontop' 
zplug 'wfxr/forgit'

if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    else
        echo
    fi
fi
zplug load

EDITOR=lvim
HISTFILE=~/.zsh_history
HISTSIZE=1000000
SAVEHIST=1000000

fpath+=~/.zfunc

{{- if eq .chezmoi.os "linux" }}
source /usr/share/nvm/init-nvm.sh
source /usr/share/fzf/completion.zsh
source /usr/share/fzf/key-bindings.zsh
{{- end }}

export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup

export PATH="${PATH}:${HOME}/.krew/bin:${HOME}/.local/bin"
export FZF_TMUX_OPTS="-p"
export FZF_CTRL_R_OPTS="--reverse --preview 'echo {}' --preview-window down:30:hidden:wrap --bind '?:toggle-preview'"

eval "$(direnv hook zsh)"
eval "$(zoxide init zsh)"
eval "$(starship init zsh)"

if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi

alias du="ncdu --color dark"
alias ls='eza --icons --git'
alias ll='eza -l --icons --git'
alias l='ll'
alias cd='z'
alias cat='bat'
alias df='duf'
alias k='kubectl'
alias kn='kubectl ns'
alias kx='kubectl ctx'
alias vim='lvim'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
