session_name: main
windows:
  - window_name: system
    panes:
      - ''
  - window_name: monitoring
    panes:
      - htop
{{- if eq .chezmoi.os "linux" }}
      - nvtop
{{- end }}
  - window_name: work
    panes:
      - ''
