### General Options
set-option -g visual-activity off
set-option -g status-position top
set-option -g base-index 1
set-option -g pane-base-index 1
set-option -g renumber-windows on
set-option -g focus-events on
{{- if eq .chezmoi.os "linux" }}
set-option -g default-terminal "tmux-256color"
{{- else if eq .chezmoi.os "darwin" }}
set-option -g default-terminal "tmux-256color"
{{- end }}
set-option -ag terminal-overrides ",*256col*:Tc"
set-option -sg escape-time 10
set-option -sg repeat-time 300
set-option -g mouse on
set-option -g prefix C-a
set-option -g set-titles on
set-option -g history-limit 50000
set-option -g display-time 4000

### Window Options
set-window-option -g monitor-activity on
set-window-option -g automatic-rename on
set-window-option -g pane-base-index 1
set-window-option -g mouse on
set-window-option -g mode-keys vi

### Key Bindings 
unbind-key C-b
bind C-a send-prefix
bind r source-file ~/.config/tmux/tmux.conf \; display "TMUX configuration is reloaded!"
bind c new-window -c '#{pane_current_path}'
bind T swap-window -t 1

bind "Escape" copy-mode
bind-key -T root DoubleClick1Pane  select-pane \; copy-mode \; send-keys -X select-word

### Plugins
set -g @plugin 'tmux-plugins/tpm'

set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'laktak/extrakto'
set -g @plugin 'roosta/tmux-pop'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
set -g @plugin 'azorng/tmux-smooth-scroll'
set -g @plugin 'fabioluciano/tmux-powerkit'

set -g @tpm-install "C-i"
set -g @tpm-update "C-u"

set -g @scroll-without-changing-pane 'on'
set -g @scroll-in-moused-over-pane 'on'
set -g @emulate-scroll-for-no-mouse-alternate-buffer 'on'
set -g @scroll-speed-num-lines-per-scroll '3'

#### PowerKit

# All 42 plugins enabled:
#set -g @powerkit_plugins 'audiodevices,battery,bitbucket,bitwarden,bluetooth,brightness,camera,cloud,cloudstatus,cpu,crypto,datetime,disk,externalip,fan,git,github,gitlab,gpu,hostname,iops,jira,kubernetes,loadavg,memory,microphone,netspeed,nowplaying,packages,ping,pomodoro,smartkey,ssh,stocks,temperature,terraform,timezones,uptime,volume,vpn,weather,wifi'

set -g @powerkit_plugins "weather,battery,audiodevices,bitbucket,bitwarden,cloudstatus,cpu,disk,fan,git,github,gpu,iops,jira,kubernetes,memory,netspeed,nowplaying,packages,ssh,temperature,terraform,vpn,wifi,bluetooth,camera,microphone,smartkey"

set -g @powerkit_theme "tokyo-night"
set -g @powerkit_theme_variant "night"
set -g @powerkit_transparent "true"
set -g @powerkit_elements_spacing "false"
set -g @powerkit_window_index_icons "true"
set -g @powerkit_cache_clear_key "M-x"
set -g @powerkit_theme_selector_key "M-t"
set -g @powerkit_show_options_key "M-h"
set -g @powerkit_show_keybindings_key "M-y"
set -g @powerkit_status_order "session,plugins,windows"
set -g @powerkit_keybinding_conflict_action "ignore"

## Weather 
set -g @powerkit_plugin_weather_location "Brasilia,Brazil"
set -g @powerkit_plugin_weather_format "%t H:%h"
set -g @powerkit_plugin_weather_icon_mode "dynamic"

## Bitbucket
set -g @powerkit_plugin_bitbucket_type "cloud"
set -g @powerkit_plugin_bitbucket_repos "fabioluciano/testea"
set -g @powerkit_plugin_bitbucket_email "fabio@naoimporta.com"
set -g @powerkit_plugin_bitbucket_token "$BITBUCKET_TOKEN"

## Jira
set -g @powerkit_plugin_jira_domain "$JIRA_DOMAIN"
set -g @powerkit_plugin_jira_email "$JIRA_EMAIL"
set -g @powerkit_plugin_jira_token "$JIRA_TOKEN"
set -g @powerkit_plugin_jira_keybinding_issues "M-j"

## AudioDevices 
set -g @powerkit_plugin_audiodevices_display_mode "off"
set -g @powerkit_plugin_audiodevices_keybinding_input "M-i"
set -g @powerkit_plugin_audiodevices_keybinding_output "M-o"

## Bitwarden
set -g @powerkit_plugin_bitwarden_show_only_when_unlocked "true"
set -g @powerkit_plugin_bitwarden_keybinding_password "M-p"
set -g @powerkit_plugin_bitwarden_keybinding_totp "M-q"
set -g @powerkit_plugin_bitwarden_keybinding_unlock "M-u"
set -g @powerkit_plugin_bitwarden_keybinding_lock "M-l"

## Github
set -g @powerkit_plugin_github_warning_threshold_issues "1"
set -g @powerkit_plugin_github_warning_threshold_prs "1"
set -g @powerkit_plugin_github_repos "fabioluciano/tmux-powerkit"
set -g @powerkit_plugin_github_token "$GITHUB_TOKEN"

## Kubernetes
set -g @powerkit_plugin_kubernetes_keybinding_context "M-k"
set -g @powerkit_plugin_kubernetes_keybinding_namespace "M-n"

## Fan
set -g @powerkit_plugin_fan_selection "all"
set -g @powerkit_plugin_fan_hide_when_idle "true"

## Terraform
set -g @powerkit_plugin_terraform_keybinding_workspace "M-w"


### Threshold Control
set -g @powerkit_plugin_battery_show_only_on_threshold "true"
set -g @powerkit_plugin_git_show_only_on_threshold "true"
set -g @powerkit_plugin_cpu_show_only_on_threshold "true"
set -g @powerkit_plugin_memory_show_only_on_threshold "true"
set -g @powerkit_plugin_ping_show_only_on_threshold "true"
set -g @powerkit_plugin_temperature_show_only_on_threshold "true"
set -g @powerkit_plugin_wifi_show_only_on_threshold "true"
set -g @powerkit_plugin_github_show_only_on_threshold "true"
set -g @powerkit_plugin_disk_show_only_on_threshold "true"
set -g @powerkit_plugin_gpu_show_only_on_threshold "true"
set -g @powerkit_plugin_iops_show_only_on_threshold "true"
set -g @powerkit_plugin_fan_show_only_on_threshold "true"


{{ if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "arch" }}
run '/usr/share/tmux-plugin-manager/tpm'
{{-   else }}
run '~/.tmux/plugins/tpm/tpm'
{{-   end }}
{{- else if eq .chezmoi.os "darwin" }}
run "/opt/homebrew/opt/tpm/share/tpm/tpm"
{{- end }}
