window:
  title: Alacritty Terminal
  dynamic_title: true
  dimensions:
    columns: 100
    lines: 40
  padding:
    x: 0
    y: 0
  dynamic_padding: false
  decorations: full
  startup_mode: Windowed

scrolling:
  history: 10000
  multiplier: 3

font:
  normal:
    family: JetBrainsMono Nerd Font
    style: Regular
  bold:
    family: JetBrainsMono Nerd Font
    style: Bold
  italic:
    family: JetBrainsMono Nerd Font
    style: Italic
  bold_italic:
    family: JetBrainsMono Nerd Font
    style: Bold Italic
{{- if eq .chezmoi.os "linux" }}
  size: 17
{{- else if eq .chezmoi.os "darwin" }}
  size: 19
{{- end }}
  offset:
    y: 1
    x: 0
colors:
  primary:
    background: '0x1a1b26'
    foreground: '0xc0caf5'
  normal:
    black:   '0x414868'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xa9b1d6'
  bright:
    black:   '0x414868'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xc0caf5'

{{- if eq .chezmoi.os "linux" }}
env:
  TERM: xterm-256color
{{- end }}

draw_bold_text_with_bright_colors: true
cursor:
  style:
    shape: Block
    blinking: Always
live_config_reload: true

shell:
{{- if eq .chezmoi.os "linux" }}
  program: /usr/bin/zsh
{{- else if eq .chezmoi.os "darwin" }}
  program: /bin/zsh
{{- end }}
  args:
    - --login
    - -c
    - "tmuxp load ~/.tmuxp.yml"
selection:
  save_to_clipboard: true
