[user]
  email = fabio@naoimporta.com
  name = Fábio Luciano
{{- if eq .chezmoi.os "linux" }}
	signingkey = 5E62F5CCFD894AC7A0685AA5C981CCE8678EF824
{{- end }}

[includeIf "gitdir/i:/mnt/srv/work/"]
  path = ~/.config/git/work

[core]
  editor = lvim
  pager = delta
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore

[web]
  browser = firefox

[push]
  default = matching

[color]
  ui = true

[alias]
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  a = add
  ap = add -p
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose

  d = diff
  ds = diff --stat
  dc = diff --cached

  s = status -s
  co = checkout
  cob = checkout -b
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  la = "!git config -l | grep alias | cut -c 7-"
  
[gitflow "branch"]
  develop = development

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

{{- if eq .chezmoi.os "linux" }}
[commit]

	gpgsign = true
[gpg]
	program = gpg
{{- end }}
