[user]
  email = fabio@naoimporta.com
  name = Fábio Luciano
  signingkey = ~/.ssh/yubikey.pub

[includeIf "gitdir/i:/mnt/srv/work/"]
  path = ~/.config/git/work

[core]
  editor = nvim
  pager = delta
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore

[web]
  browser = firefox

[push]
  default = current
  followTags = true
  autoSetupRemote = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true

[color]
  ui = true

[alias]
  # View
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  graph = log --graph --all --decorate --oneline
  
  # Add
  a = add
  ap = add -p
  aa = add --all
  
  # Commit
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose
  amend = commit --amend --no-edit
  
  # Diff
  d = diff
  ds = diff --stat
  dc = diff --cached
  dlc = diff --cached HEAD^
  
  # Status
  s = status -s
  st = status
  
  # Checkout
  co = checkout
  cob = checkout -b
  
  # Branch
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  br = branch
  
  # Remote
  pu = push
  puf = push --force-with-lease
  pl = pull
  
  # Stash
  sl = stash list
  sa = stash apply
  ss = stash save
  sp = stash pop
  
  # Other
  la = "!git config -l | grep alias | cut -c 7-"
  undo = reset --soft HEAD~1
  unstage = reset HEAD --
  contributors = shortlog --summary --numbered

  fix-fetch = "!git config remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*'"
  
[gitflow "branch"]
  develop = development

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
  defaultBranch = main

[rebase]
  autoStash = true
  autoSquash = true

[rerere]
  enabled = true

[help]
  autocorrect = 20

[transfer]
  fsckobjects = true

[fetch]
  fsckobjects = true

[receive]
  fsckObjects = true

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
