session: main
root: ~/

windows:
  - name: system

  - name: editor
    root: ~/developer
    commands:
      - nvim

  - name: opencode
    root: ~/developer
    commands:
      - opencode

  - name: monitoring
    commands:
      - btop
{{- if eq .chezmoi.os "linux" }}
    panes:
      - type: horizontal
        commands:
          - nvtop
{{- end }}
