[user]
name = "{{ .name }}"
email = "{{ .email }}"

# Override email for work repositories
[[--scope]]
--when.repositories = ["/mnt/srv/work"{{ if eq .chezmoi.os "darwin" }}, "~/Projects/work"{{ end }}]
{{- if env "GITHUB_TOKEN" }}
[--scope.user]
email = "{{ env "WORK_MAIL" }}"
{{- else }}
{{- $fields := bitwardenFields "item" "dotfiles-tokens" }}
[--scope.user]
email = "{{ $fields.work_mail.value }}"
{{- end }}

[ui]
editor = "nvim"
pager = "delta"
default-command = "log"

[git]
write-change-id-header = true

[remotes.origin]
auto-track-bookmarks = "*"

[aliases]
# View
l = ["log"]
ll = ["log", "-r", "all()"]

# Status
s = ["status"]
st = ["status"]

# Other
b = ["bookmark", "list"]
