
local wezterm = require("wezterm")

return {
	warn_about_missing_glyphs = false,
	automatically_reload_config = true,
	hide_mouse_cursor_when_typing = true,
	font = wezterm.font({
		family = "CaskaydiaCove Nerd Font",
		weight = "Regular",
		harfbuzz_features = {
			"ss01",
			"cv05",
			"calt",
			"ss01",
			"ss02",
			"ss03",
			"ss04",
			"ss05",
			"ss06",
			"zero",
			"onum",
			"ss20",
			"dlig",
		},
	}),
{{- if eq .chezmoi.os "linux" }}
	default_prog = { "tmuxp", "load", "~/.config/tmuxp/tmuxp.yml" },
	font_size = 16.0,
{{- else if eq .chezmoi.os "darwin" }}
	default_prog = { "/bin/zsh", "--login", "-c", "/opt/homebrew/bin/tmuxp load ~/.config/tmuxp/tmuxp.yml" },
	font_size = 18.0,
{{- end }}
	line_height = 1.3,
	window_background_opacity = 1.0,
	enable_tab_bar = false,
	color_scheme = "tokyonight",
	window_padding = {
		left = 0,
		right = 0,
		top = 0,
		bottom = 0,
	},
}
