local wezterm = require 'wezterm'

return {
  automatically_reload_config = true,
  hide_mouse_cursor_when_typing = true,
  font = wezterm.font('CaskaydiaCove Nerd Font Mono'),
{{- if eq .chezmoi.os "linux" }}
  font_size = 15.0,
  line_height = 1.2,
{{- else if eq .chezmoi.os "darwin" }}
  font_size = 18.0,
  line_height = 1.3,
{{- end }}
  window_background_opacity = 1.0,
  default_prog = { 'tmuxp', 'load', '~/.tmuxp.yml' },
  enable_tab_bar = false,
  color_scheme = "tokyonight",
  window_padding = {
    left = 0,
    right = 0,
    top = 0,
    bottom = 0,
  },
}
