<?xml version="1.1" encoding="UTF-8"?>

<channel name="xfce4-desktop" version="1.0">
  <property name="last-settings-migration-version" type="uint" value="1"/>
  <property name="last" type="empty">
    <property name="window-width" type="int" value="2538"/>
    <property name="window-height" type="int" value="1392"/>
  </property>
  <property name="backdrop" type="empty">
    <property name="screen0" type="empty">
      <property name="monitorDP-4" type="empty">
        <property name="workspace0" type="empty">
          <property name="backdrop-cycle-enable" type="bool" value="true"/>
          <property name="backdrop-cycle-period" type="int" value="3"/>
          <property name="backdrop-cycle-random-order" type="bool" value="true"/>
          <property name="last-image" type="string" value="{{ .chezmoi.homeDir }}/Dropbox/wallpaper/muichiro-tokito-3840x2160-v0-ey7izvl042wc1.png"/>
        </property>
      </property>
      <property name="monitorDP-2" type="empty">
        <property name="workspace0" type="empty">
          <property name="backdrop-cycle-enable" type="bool" value="true"/>
          <property name="backdrop-cycle-period" type="int" value="3"/>
          <property name="backdrop-cycle-random-order" type="bool" value="true"/>
          <property name="last-image" type="string" value="{{ .chezmoi.homeDir }}/Dropbox/wallpaper/12yuoy7p8sr21.png"/>
        </property>
      </property>
    </property>
  </property>
</channel>
